.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 10px;
  max-width: 800px;
  transition: box-shadow 0.3s ease;
  gap: 20px;
  cursor: pointer;
}

.card:hover .image {
  transform: scale(1.05);
}

.card:hover {
  background-color: #e5e5e5;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform ease 0.3s;
}

.content {
  width: 70%;
  text-align: center;
  text-align: start;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
}

.description {
  font-size: 13px;
  line-height: 1.4;
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #333;
  }

  .description {
    font-size: 12px;
    color: #555;
    line-height: 1.4;
  }
}
